.container {
  border-radius: 18px;
  grid-area: auto;
  box-shadow: 0 10px 13px -4px #23235F30;
  height: max-content;
  .image {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    display: flex;
    justify-content: center;
    object-fit: scale-down;
    height: 168px;
    width: 100%;
  }
  .description {
    padding: 12px 18px 18px 18px;
    height: 48px;
  }
}