html {
  height: max-content;
  font-family: Nunito, serif;
  color: #39414B;
  font-weight: 800;
  body {
    height: max-content;
    margin: 0;
    #root {
      height: max-content;
      display: flex;
    }
  }
}




